In [29]:
import pandas as pd
import numpy as np

In [30]:
df = pd.read_csv("/content/sample_data/iris.csv")

In [31]:
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [32]:
df.isnull().sum()

sepal.length    0
sepal.width     0
petal.length    0
petal.width     0
variety         0
dtype: int64

In [33]:
x = df.drop('variety',axis=1)
y = df.variety

In [34]:
x.head()

   sepal.length  sepal.width  petal.length  petal.width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [35]:
y.head()

0    Setosa
1    Setosa
2    Setosa
3    Setosa
4    Setosa
Name: variety, dtype: object

In [36]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
y = lb.fit_transform(df.variety)

In [37]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [38]:
df["species"] = y

In [39]:
df.head(10)

   sepal.length  sepal.width  petal.length  petal.width variety  species
0           5.1          3.5           1.4          0.2  Setosa        0
1           4.9          3.0           1.4          0.2  Setosa        0
2           4.7          3.2           1.3          0.2  Setosa        0
3           4.6          3.1           1.5          0.2  Setosa        0
4           5.0          3.6           1.4          0.2  Setosa        0
5           5.4          3.9           1.7          0.4  Setosa        0
6           4.6          3.4           1.4          0.3  Setosa        0
7           5.0          3.4           1.5          0.2  Setosa        0
8           4.4          2.9           1.4          0.2  Setosa        0
9           4.9          3.1           1.5          0.1  Setosa        0

In [40]:
df.species.value_counts()

0    50
1    50
2    50
Name: species, dtype: int64

In [41]:
df.variety.value_counts()

Setosa        50
Versicolor    50
Virginica     50
Name: variety, dtype: int64

In [42]:
from sklearn.model_selection import train_test_split

In [43]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [44]:
print(x_train.shape)
print(x_test.shape)

(105, 4)
(45, 4)

In [45]:
import tensorflow
from tensorflow import keras
from keras import Sequential
from keras.layers import Dense

In [46]:
model = Sequential()
model.add(Dense(10,input_shape=(4,),activation='relu'))
model.add(Dense(8,activation='relu'))
model.add(Dense(3,activation='softmax'))

In [47]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 10)                50

 dense_4 (Dense)             (None, 8)                 88

 dense_5 (Dense)             (None, 3)                 27

=================================================================
Total params: 165
Trainable params: 165
Non-trainable params: 0
_________________________________________________________________

In [48]:
model.compile(optimizer="adam",loss="sparse_categorical_crossentropy", metrics=['accuracy'])

In [49]:
model.fit(x_train,y_train,epochs=100)

Epoch 1/100
4/4 [==============================] - 1s 3ms/step - loss: 1.9544 - accuracy: 0.3429
Epoch 2/100
4/4 [==============================] - 0s 3ms/step - loss: 1.8909 - accuracy: 0.3429
Epoch 3/100
4/4 [==============================] - 0s 3ms/step - loss: 1.8290 - accuracy: 0.3429
Epoch 4/100
4/4 [==============================] - 0s 3ms/step - loss: 1.7677 - accuracy: 0.3429
Epoch 5/100
4/4 [==============================] - 0s 3ms/step - loss: 1.7150 - accuracy: 0.3429
Epoch 6/100
4/4 [==============================] - 0s 3ms/step - loss: 1.6648 - accuracy: 0.3429
Epoch 7/100
4/4 [==============================] - 0s 3ms/step - loss: 1.6140 - accuracy: 0.3429
Epoch 8/100
4/4 [==============================] - 0s 3ms/step - loss: 1.5723 - accuracy: 0.3429
Epoch 9/100
4/4 [==============================] - 0s 3ms/step - loss: 1.5304 - accuracy: 0.3429
Epoch 10/100
4/4 [==============================] - 0s 3ms/step - loss: 1.4930 - accuracy: 0.3429
Epoch 11/100
4/4 [==============================] - 0s 3ms/step - loss: 1.4579 - accuracy: 0.3429
Epoch 12/100
4/4 [==============================] - 0s 3ms/step - loss: 1.4271 - accuracy: 0.3429
Epoch 13/100
4/4 [==============================] - 0s 3ms/step - loss: 1.3968 - accuracy: 0.3429
Epoch 14/100
4/4 [==============================] - 0s 4ms/step - loss: 1.3693 - accuracy: 0.3429
Epoch 15/100
4/4 [==============================] - 0s 3ms/step - loss: 1.3433 - accuracy: 0.3429
Epoch 16/100
4/4 [==============================] - 0s 3ms/step - loss: 1.3202 - accuracy: 0.3524
Epoch 17/100
4/4 [==============================] - 0s 3ms/step - loss: 1.2991 - accuracy: 0.3714
Epoch 18/100
4/4 [==============================] - 0s 3ms/step - loss: 1.2795 - accuracy: 0.4095
Epoch 19/100
4/4 [==============================] - 0s 3ms/step - loss: 1.2581 - accuracy: 0.4667
Epoch 20/100
4/4 [==============================] - 0s 3ms/step - loss: 1.2406 - accuracy: 0.5333
Epoch 21/100
4/4 [==============================] - 0s 3ms/step - loss: 1.2230 - accuracy: 0.5714
Epoch 22/100
4/4 [==============================] - 0s 3ms/step - loss: 1.2060 - accuracy: 0.6190
Epoch 23/100
4/4 [==============================] - 0s 3ms/step - loss: 1.1918 - accuracy: 0.6667
Epoch 24/100
4/4 [==============================] - 0s 3ms/step - loss: 1.1759 - accuracy: 0.6762
Epoch 25/100
4/4 [==============================] - 0s 3ms/step - loss: 1.1621 - accuracy: 0.6857
Epoch 26/100
4/4 [==============================] - 0s 3ms/step - loss: 1.1494 - accuracy: 0.6857
Epoch 27/100
4/4 [==============================] - 0s 3ms/step - loss: 1.1365 - accuracy: 0.6952
Epoch 28/100
4/4 [==============================] - 0s 4ms/step - loss: 1.1251 - accuracy: 0.6952
Epoch 29/100
4/4 [==============================] - 0s 3ms/step - loss: 1.1147 - accuracy: 0.6952
Epoch 30/100
4/4 [==============================] - 0s 3ms/step - loss: 1.1049 - accuracy: 0.6952
Epoch 31/100
4/4 [==============================] - 0s 3ms/step - loss: 1.0973 - accuracy: 0.6952
Epoch 32/100
4/4 [==============================] - 0s 3ms/step - loss: 1.0890 - accuracy: 0.6952
Epoch 33/100
4/4 [==============================] - 0s 4ms/step - loss: 1.0826 - accuracy: 0.6952
Epoch 34/100
4/4 [==============================] - 0s 3ms/step - loss: 1.0774 - accuracy: 0.6952
Epoch 35/100
4/4 [==============================] - 0s 3ms/step - loss: 1.0706 - accuracy: 0.6952
Epoch 36/100
4/4 [==============================] - 0s 3ms/step - loss: 1.0652 - accuracy: 0.6952
Epoch 37/100
4/4 [==============================] - 0s 3ms/step - loss: 1.0596 - accuracy: 0.6952
Epoch 38/100
4/4 [==============================] - 0s 3ms/step - loss: 1.0546 - accuracy: 0.6952
Epoch 39/100
4/4 [==============================] - 0s 3ms/step - loss: 1.0487 - accuracy: 0.6952
Epoch 40/100
4/4 [==============================] - 0s 4ms/step - loss: 1.0433 - accuracy: 0.6952
Epoch 41/100
4/4 [==============================] - 0s 3ms/step - loss: 1.0382 - accuracy: 0.6952
Epoch 42/100
4/4 [==============================] - 0s 3ms/step - loss: 1.0331 - accuracy: 0.6952
Epoch 43/100
4/4 [==============================] - 0s 3ms/step - loss: 1.0281 - accuracy: 0.6952
Epoch 44/100
4/4 [==============================] - 0s 3ms/step - loss: 1.0223 - accuracy: 0.6952
Epoch 45/100
4/4 [==============================] - 0s 3ms/step - loss: 1.0170 - accuracy: 0.6952
Epoch 46/100
4/4 [==============================] - 0s 3ms/step - loss: 1.0110 - accuracy: 0.6952
Epoch 47/100
4/4 [==============================] - 0s 3ms/step - loss: 1.0056 - accuracy: 0.6952
Epoch 48/100
4/4 [==============================] - 0s 3ms/step - loss: 0.9998 - accuracy: 0.6952
Epoch 49/100
4/4 [==============================] - 0s 3ms/step - loss: 0.9946 - accuracy: 0.6952
Epoch 50/100
4/4 [==============================] - 0s 3ms/step - loss: 0.9886 - accuracy: 0.6952
Epoch 51/100
4/4 [==============================] - 0s 4ms/step - loss: 0.9824 - accuracy: 0.6952
Epoch 52/100
4/4 [==============================] - 0s 3ms/step - loss: 0.9757 - accuracy: 0.6952
Epoch 53/100
4/4 [==============================] - 0s 3ms/step - loss: 0.9685 - accuracy: 0.6952
Epoch 54/100
4/4 [==============================] - 0s 3ms/step - loss: 0.9603 - accuracy: 0.6952
Epoch 55/100
4/4 [==============================] - 0s 3ms/step - loss: 0.9527 - accuracy: 0.6952
Epoch 56/100
4/4 [==============================] - 0s 3ms/step - loss: 0.9446 - accuracy: 0.6952
Epoch 57/100
4/4 [==============================] - 0s 3ms/step - loss: 0.9365 - accuracy: 0.6952
Epoch 58/100
4/4 [==============================] - 0s 3ms/step - loss: 0.9283 - accuracy: 0.6952
Epoch 59/100
4/4 [==============================] - 0s 4ms/step - loss: 0.9199 - accuracy: 0.6952
Epoch 60/100
4/4 [==============================] - 0s 4ms/step - loss: 0.9112 - accuracy: 0.6952
Epoch 61/100
4/4 [==============================] - 0s 3ms/step - loss: 0.9033 - accuracy: 0.6952
Epoch 62/100
4/4 [==============================] - 0s 4ms/step - loss: 0.8946 - accuracy: 0.6952
Epoch 63/100
4/4 [==============================] - 0s 3ms/step - loss: 0.8863 - accuracy: 0.6952
Epoch 64/100
4/4 [==============================] - 0s 3ms/step - loss: 0.8778 - accuracy: 0.6952
Epoch 65/100
4/4 [==============================] - 0s 4ms/step - loss: 0.8690 - accuracy: 0.6762
Epoch 66/100
4/4 [==============================] - 0s 3ms/step - loss: 0.8591 - accuracy: 0.6762
Epoch 67/100
4/4 [==============================] - 0s 3ms/step - loss: 0.8456 - accuracy: 0.6762
Epoch 68/100
4/4 [==============================] - 0s 3ms/step - loss: 0.8302 - accuracy: 0.6762
Epoch 69/100
4/4 [==============================] - 0s 3ms/step - loss: 0.8141 - accuracy: 0.6762
Epoch 70/100
4/4 [==============================] - 0s 3ms/step - loss: 0.7979 - accuracy: 0.6762
Epoch 71/100
4/4 [==============================] - 0s 3ms/step - loss: 0.7819 - accuracy: 0.6857
Epoch 72/100
4/4 [==============================] - 0s 3ms/step - loss: 0.7677 - accuracy: 0.7333
Epoch 73/100
4/4 [==============================] - 0s 4ms/step - loss: 0.7551 - accuracy: 0.7810
Epoch 74/100
4/4 [==============================] - 0s 3ms/step - loss: 0.7424 - accuracy: 0.8095
Epoch 75/100
4/4 [==============================] - 0s 3ms/step - loss: 0.7318 - accuracy: 0.8857
Epoch 76/100
4/4 [==============================] - 0s 3ms/step - loss: 0.7207 - accuracy: 0.9048
Epoch 77/100
4/4 [==============================] - 0s 3ms/step - loss: 0.7112 - accuracy: 0.9143
Epoch 78/100
4/4 [==============================] - 0s 3ms/step - loss: 0.7010 - accuracy: 0.9238
Epoch 79/100
4/4 [==============================] - 0s 3ms/step - loss: 0.6919 - accuracy: 0.9238
Epoch 80/100
4/4 [==============================] - 0s 4ms/step - loss: 0.6830 - accuracy: 0.9238
Epoch 81/100
4/4 [==============================] - 0s 4ms/step - loss: 0.6745 - accuracy: 0.9238
Epoch 82/100
4/4 [==============================] - 0s 3ms/step - loss: 0.6661 - accuracy: 0.9238
Epoch 83/100
4/4 [==============================] - 0s 3ms/step - loss: 0.6576 - accuracy: 0.9429
Epoch 84/100
4/4 [==============================] - 0s 3ms/step - loss: 0.6510 - accuracy: 0.9429
Epoch 85/100
4/4 [==============================] - 0s 3ms/step - loss: 0.6436 - accuracy: 0.9333
Epoch 86/100
4/4 [==============================] - 0s 5ms/step - loss: 0.6362 - accuracy: 0.9429
Epoch 87/100
4/4 [==============================] - 0s 4ms/step - loss: 0.6289 - accuracy: 0.9429
Epoch 88/100
4/4 [==============================] - 0s 3ms/step - loss: 0.6221 - accuracy: 0.9429
Epoch 89/100
4/4 [==============================] - 0s 3ms/step - loss: 0.6159 - accuracy: 0.9429
Epoch 90/100
4/4 [==============================] - 0s 3ms/step - loss: 0.6096 - accuracy: 0.9429
Epoch 91/100
4/4 [==============================] - 0s 3ms/step - loss: 0.6024 - accuracy: 0.9333
Epoch 92/100
4/4 [==============================] - 0s 3ms/step - loss: 0.5962 - accuracy: 0.9524
Epoch 93/100
4/4 [==============================] - 0s 3ms/step - loss: 0.5902 - accuracy: 0.9619
Epoch 94/100
4/4 [==============================] - 0s 3ms/step - loss: 0.5844 - accuracy: 0.9429
Epoch 95/100
4/4 [==============================] - 0s 3ms/step - loss: 0.5775 - accuracy: 0.9619
Epoch 96/100
4/4 [==============================] - 0s 4ms/step - loss: 0.5712 - accuracy: 0.9619
Epoch 97/100
4/4 [==============================] - 0s 3ms/step - loss: 0.5649 - accuracy: 0.9619
Epoch 98/100
4/4 [==============================] - 0s 4ms/step - loss: 0.5589 - accuracy: 0.9619
Epoch 99/100
4/4 [==============================] - 0s 3ms/step - loss: 0.5529 - accuracy: 0.9619
Epoch 100/100
4/4 [==============================] - 0s 5ms/step - loss: 0.5473 - accuracy: 0.9619

In [50]:
model.evaluate(x_test,y_test)

2/2 [==============================] - 0s 6ms/step - loss: 0.5431 - accuracy: 0.9778

[0.543067991733551, 0.9777777791023254]

In [51]:
y_pred = model.predict(x_test)

2/2 [==============================] - 0s 4ms/step

In [52]:
y_pred[:10]

array([[0.92664534, 0.05310554, 0.02024905],
       [0.2743051 , 0.46080777, 0.26488703],
       [0.96312076, 0.02754389, 0.00933543],
       [0.27054775, 0.33236825, 0.397084  ],
       [0.26350567, 0.19670701, 0.5397873 ],
       [0.26222226, 0.17821696, 0.5595608 ],
       [0.9299572 , 0.04988358, 0.02015913],
       [0.27345952, 0.2517055 , 0.474835  ],
       [0.25777996, 0.43142834, 0.31079164],
       [0.27390245, 0.2595634 , 0.4665341 ]], dtype=float32)

In [53]:
y_pred=np.argmax(y_pred,axis=1)
print(y_pred)

[0 1 0 2 2 2 0 2 1 2 0 1 2 2 0 2 2 2 1 1 2 1 1 2 1 2 2 0 1 0 0 2 1 0 0 0 0
 2 2 2 2 1 0 1 0]

In [54]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
cm = confusion_matrix(y_test,y_pred)
score = accuracy_score(y_test,y_pred)
print(cm)
print("score is : ",score)

[[14  0  0]
 [ 0 12  1]
 [ 0  0 18]]
score is :  0.9777777777777777

In [55]:
len(y_test)

45

In [56]:
len(y_pred)

45