In [28]:
import pandas as pd

In [29]:
churn = pd.read_csv("/content/Churn_Modelling.csv")

In [30]:
churn.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [31]:
churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [32]:
churn.Gender.unique()

array(['Female', 'Male'], dtype=object)

In [33]:
churn.Gender = churn.Gender.map({"Male":0,"Female":1})

In [34]:
churn.drop({"Surname","Geography",'RowNumber','CustomerId'},inplace=True,axis=1)

In [35]:
churn.columns

Index(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [36]:
features = churn.drop("Exited",axis=1)

In [37]:
target = churn.Exited

In [38]:
features.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,1,42,2,0.00,1,1,1,101348.88
1,608,1,41,1,83807.86,1,0,1,112542.58
2,502,1,42,8,159660.80,3,1,0,113931.57
3,699,1,39,1,0.00,2,0,0,93826.63
4,850,1,43,2,125510.82,1,1,1,79084.10

In [39]:
features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Gender           10000 non-null  int64
 2   Age              10000 non-null  int64
 3   Tenure           10000 non-null  int64
 4   Balance          10000 non-null  float64
 5   NumOfProducts    10000 non-null  int64
 6   HasCrCard        10000 non-null  int64
 7   IsActiveMember   10000 non-null  int64
 8   EstimatedSalary  10000 non-null  float64
dtypes: float64(2), int64(7)
memory usage: 703.2 KB

In [40]:
target.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [41]:
from sklearn.model_selection import train_test_split

In [42]:
X_train,X_test,Y_train,Y_test = train_test_split(features,target,test_size=0.3)

In [43]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7000 entries, 4381 to 6529
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      7000 non-null   int64
 1   Gender           7000 non-null   int64
 2   Age              7000 non-null   int64
 3   Tenure           7000 non-null   int64
 4   Balance          7000 non-null   float64
 5   NumOfProducts    7000 non-null   int64
 6   HasCrCard        7000 non-null   int64
 7   IsActiveMember   7000 non-null   int64
 8   EstimatedSalary  7000 non-null   float64
dtypes: float64(2), int64(7)
memory usage: 546.9 KB

In [44]:
X_train.shape

(7000, 9)

In [45]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000 entries, 9376 to 1354
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      3000 non-null   int64
 1   Gender           3000 non-null   int64
 2   Age              3000 non-null   int64
 3   Tenure           3000 non-null   int64
 4   Balance          3000 non-null   float64
 5   NumOfProducts    3000 non-null   int64
 6   HasCrCard        3000 non-null   int64
 7   IsActiveMember   3000 non-null   int64
 8   EstimatedSalary  3000 non-null   float64
dtypes: float64(2), int64(7)
memory usage: 234.4 KB

In [46]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [47]:
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [48]:
import tensorflow
from tensorflow import keras
from keras.layers import Dense,Flatten
from keras.models import Sequential

In [49]:
tensorflow.__version__

'2.12.0'

In [50]:
model = Sequential()

In [51]:
model.add(Dense(7,input_dim=(9),activation="relu"))
model.add(Dense(5,activation='relu'))
model.add(Dense(3,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

In [52]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 7)                 70

 dense_4 (Dense)             (None, 5)                 40

 dense_5 (Dense)             (None, 3)                 18

 dense_6 (Dense)             (None, 1)                 4

=================================================================
Total params: 132
Trainable params: 132
Non-trainable params: 0
_________________________________________________________________

In [53]:
model.compile(loss='binary_crossentropy',optimizer='Adam',metrics=['accuracy'])

In [ ]:
model.fit(X_train,Y_train,epochs=50)

Epoch 1/100
219/219 [==============================] - 2s 2ms/step - loss: 0.6696 - accuracy: 0.6557
Epoch 2/100
219/219 [==============================] - 0s 2ms/step - loss: 0.5263 - accuracy: 0.7964
Epoch 3/100
219/219 [==============================] - 0s 2ms/step - loss: 0.4667 - accuracy: 0.7971
Epoch 4/100
219/219 [==============================] - 0s 2ms/step - loss: 0.4467 - accuracy: 0.8047
Epoch 5/100
219/219 [==============================] - 0s 2ms/step - loss: 0.4363 - accuracy: 0.8084
Epoch 6/100
219/219 [==============================] - 0s 2ms/step - loss: 0.4274 - accuracy: 0.8169
Epoch 7/100
219/219 [==============================] - 0s 2ms/step - loss: 0.4196 - accuracy: 0.8226
Epoch 8/100
219/219 [==============================] - 0s 2ms/step - loss: 0.4128 - accuracy: 0.8249
Epoch 9/100
219/219 [==============================] - 0s 2ms/step - loss: 0.4064 - accuracy: 0.8266
Epoch 10/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3971 - accuracy: 0.8354
Epoch 11/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3834 - accuracy: 0.8461
Epoch 12/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3727 - accuracy: 0.8504
Epoch 13/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3654 - accuracy: 0.8530
Epoch 14/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3611 - accuracy: 0.8539
Epoch 15/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3580 - accuracy: 0.8550
Epoch 16/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3555 - accuracy: 0.8556
Epoch 17/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3544 - accuracy: 0.8563
Epoch 18/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3526 - accuracy: 0.8584
Epoch 19/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3515 - accuracy: 0.8571
Epoch 20/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3506 - accuracy: 0.8586
Epoch 21/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3502 - accuracy: 0.8596
Epoch 22/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3494 - accuracy: 0.8597
Epoch 23/100
219/219 [==============================] - 1s 2ms/step - loss: 0.3486 - accuracy: 0.8586
Epoch 24/100
219/219 [==============================] - 1s 2ms/step - loss: 0.3481 - accuracy: 0.8576
Epoch 25/100
219/219 [==============================] - 1s 2ms/step - loss: 0.3474 - accuracy: 0.8583
Epoch 26/100
219/219 [==============================] - 1s 2ms/step - loss: 0.3467 - accuracy: 0.8579
Epoch 27/100
219/219 [==============================] - 1s 3ms/step - loss: 0.3472 - accuracy: 0.8573
Epoch 28/100
219/219 [==============================] - 1s 2ms/step - loss: 0.3466 - accuracy: 0.8584
Epoch 29/100
219/219 [==============================] - 1s 3ms/step - loss: 0.3466 - accuracy: 0.8587
Epoch 30/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3458 - accuracy: 0.8580
Epoch 31/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3451 - accuracy: 0.8603
Epoch 32/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3454 - accuracy: 0.8581
Epoch 33/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3450 - accuracy: 0.8597
Epoch 34/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3445 - accuracy: 0.8593
Epoch 35/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3450 - accuracy: 0.8589
Epoch 36/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3440 - accuracy: 0.8587
Epoch 37/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3443 - accuracy: 0.8600
Epoch 38/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3443 - accuracy: 0.8591
Epoch 39/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3432 - accuracy: 0.8596
Epoch 40/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3434 - accuracy: 0.8593
Epoch 41/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3436 - accuracy: 0.8590
Epoch 42/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3431 - accuracy: 0.8586
Epoch 43/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3431 - accuracy: 0.8597
Epoch 44/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3429 - accuracy: 0.8600
Epoch 45/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3425 - accuracy: 0.8583
Epoch 46/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3425 - accuracy: 0.8607
Epoch 47/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3423 - accuracy: 0.8597
Epoch 48/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3424 - accuracy: 0.8604
Epoch 49/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3421 - accuracy: 0.8607
Epoch 50/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3427 - accuracy: 0.8583
Epoch 51/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3419 - accuracy: 0.8599
Epoch 52/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3417 - accuracy: 0.8604
Epoch 53/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3418 - accuracy: 0.8616
Epoch 54/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3418 - accuracy: 0.8600
Epoch 55/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3414 - accuracy: 0.8599
Epoch 56/100
219/219 [==============================] - 1s 3ms/step - loss: 0.3412 - accuracy: 0.8600
Epoch 57/100
219/219 [==============================] - 1s 3ms/step - loss: 0.3415 - accuracy: 0.8590
Epoch 58/100
219/219 [==============================] - 1s 3ms/step - loss: 0.3412 - accuracy: 0.8586
Epoch 59/100
219/219 [==============================] - 1s 2ms/step - loss: 0.3413 - accuracy: 0.8586
Epoch 60/100
219/219 [==============================] - 1s 2ms/step - loss: 0.3413 - accuracy: 0.8589
Epoch 61/100
219/219 [==============================] - 1s 2ms/step - loss: 0.3406 - accuracy: 0.8580
Epoch 62/100
219/219 [==============================] - 1s 2ms/step - loss: 0.3409 - accuracy: 0.8610
Epoch 63/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3414 - accuracy: 0.8606
Epoch 64/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3410 - accuracy: 0.8594
Epoch 65/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3409 - accuracy: 0.8590
Epoch 66/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3407 - accuracy: 0.8581
Epoch 67/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3408 - accuracy: 0.8594
Epoch 68/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3407 - accuracy: 0.8606
Epoch 69/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3410 - accuracy: 0.8600
Epoch 70/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3408 - accuracy: 0.8607
Epoch 71/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3403 - accuracy: 0.8601
Epoch 72/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3404 - accuracy: 0.8600
Epoch 73/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3407 - accuracy: 0.8586
Epoch 74/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3404 - accuracy: 0.8581
Epoch 75/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3403 - accuracy: 0.8597
Epoch 76/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3398 - accuracy: 0.8596
Epoch 77/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3403 - accuracy: 0.8597
Epoch 78/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3402 - accuracy: 0.8600
Epoch 79/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3403 - accuracy: 0.8600
Epoch 80/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3401 - accuracy: 0.8609
Epoch 81/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3400 - accuracy: 0.8594
Epoch 82/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3399 - accuracy: 0.8584
Epoch 83/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3402 - accuracy: 0.8607
Epoch 84/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3401 - accuracy: 0.8589
Epoch 85/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3400 - accuracy: 0.8607
Epoch 86/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3398 - accuracy: 0.8590
Epoch 87/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3398 - accuracy: 0.8600
Epoch 88/100
219/219 [==============================] - 1s 3ms/step - loss: 0.3397 - accuracy: 0.8606
Epoch 89/100
219/219 [==============================] - 1s 2ms/step - loss: 0.3402 - accuracy: 0.8591
Epoch 90/100
219/219 [==============================] - 1s 3ms/step - loss: 0.3396 - accuracy: 0.8604
Epoch 91/100
219/219 [==============================] - 1s 3ms/step - loss: 0.3400 - accuracy: 0.8601
Epoch 92/100
219/219 [==============================] - 1s 3ms/step - loss: 0.3397 - accuracy: 0.8577
Epoch 93/100
219/219 [==============================] - 1s 4ms/step - loss: 0.3397 - accuracy: 0.8593
Epoch 94/100
219/219 [==============================] - 1s 3ms/step - loss: 0.3398 - accuracy: 0.8593
Epoch 95/100
219/219 [==============================] - 1s 2ms/step - loss: 0.3398 - accuracy: 0.8601
Epoch 96/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3397 - accuracy: 0.8601
Epoch 97/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3398 - accuracy: 0.8599
Epoch 98/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3396 - accuracy: 0.8601
Epoch 99/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3396 - accuracy: 0.8601
Epoch 100/100
219/219 [==============================] - 0s 2ms/step - loss: 0.3392 - accuracy: 0.8603