In [ ]:
import pandas as pd

In [ ]:
churn = pd.read_csv("Churn_Modelling.csv")

In [ ]:
churn.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [ ]:
churn.Gender.unique()

array(['Female', 'Male'], dtype=object)

In [ ]:
churn.Gender = churn.Gender.map({"Male":0,"Female":1})

In [ ]:
churn.drop({"Surname","Geography",'RowNumber','CustomerId'},inplace=True,axis=1)

In [ ]:
churn.columns

Index(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [ ]:
features = churn.drop("Exited",axis=1)

In [ ]:
target = churn.Exited

In [ ]:
features.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,1,42,2,0.00,1,1,1,101348.88
1,608,1,41,1,83807.86,1,0,1,112542.58
2,502,1,42,8,159660.80,3,1,0,113931.57
3,699,1,39,1,0.00,2,0,0,93826.63
4,850,1,43,2,125510.82,1,1,1,79084.10

In [ ]:
features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Gender           10000 non-null  int64
 2   Age              10000 non-null  int64
 3   Tenure           10000 non-null  int64
 4   Balance          10000 non-null  float64
 5   NumOfProducts    10000 non-null  int64
 6   HasCrCard        10000 non-null  int64
 7   IsActiveMember   10000 non-null  int64
 8   EstimatedSalary  10000 non-null  float64
dtypes: float64(2), int64(7)
memory usage: 703.2 KB

In [ ]:
target.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,Y_train,Y_test = train_test_split(features,target,test_size=0.3)

In [ ]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7000 entries, 2585 to 1598
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      7000 non-null   int64
 1   Gender           7000 non-null   int64
 2   Age              7000 non-null   int64
 3   Tenure           7000 non-null   int64
 4   Balance          7000 non-null   float64
 5   NumOfProducts    7000 non-null   int64
 6   HasCrCard        7000 non-null   int64
 7   IsActiveMember   7000 non-null   int64
 8   EstimatedSalary  7000 non-null   float64
dtypes: float64(2), int64(7)
memory usage: 546.9 KB

In [ ]:
X_train.shape

(7000, 9)

In [ ]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000 entries, 9202 to 7242
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      3000 non-null   int64
 1   Gender           3000 non-null   int64
 2   Age              3000 non-null   int64
 3   Tenure           3000 non-null   int64
 4   Balance          3000 non-null   float64
 5   NumOfProducts    3000 non-null   int64
 6   HasCrCard        3000 non-null   int64
 7   IsActiveMember   3000 non-null   int64
 8   EstimatedSalary  3000 non-null   float64
dtypes: float64(2), int64(7)
memory usage: 234.4 KB

In [ ]:
import tensorflow
from tensorflow import keras
from keras.layers import Dense,Flatten
from keras.models import Sequential

In [ ]:
tensorflow.__version__

'2.12.0'

In [ ]:
model = Sequential()

In [ ]:
model.add(Dense(10,input_dim=(9),activation="relu"))
model.add(Dense(5,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

In [ ]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                100

 dense_1 (Dense)             (None, 5)                 55

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 161
Trainable params: 161
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.compile(loss='binary_crossentropy',optimizer='Adam',metrics=['accuracy'])

In [ ]:
model.fit(X_train,Y_train,epochs=10)

Epoch 1/10
219/219 [==============================] - 0s 1ms/step - loss: 0.4993 - accuracy: 0.8007
Epoch 2/10
219/219 [==============================] - 0s 1ms/step - loss: 0.4993 - accuracy: 0.8007
Epoch 3/10
219/219 [==============================] - 0s 1ms/step - loss: 0.4993 - accuracy: 0.8007
Epoch 4/10
219/219 [==============================] - 0s 1ms/step - loss: 0.4993 - accuracy: 0.8007
Epoch 5/10
219/219 [==============================] - 0s 1ms/step - loss: 0.4993 - accuracy: 0.8007
Epoch 6/10
219/219 [==============================] - 0s 1ms/step - loss: 0.4993 - accuracy: 0.8007
Epoch 7/10
219/219 [==============================] - 0s 1ms/step - loss: 0.4993 - accuracy: 0.8007
Epoch 8/10
219/219 [==============================] - 0s 1ms/step - loss: 0.4993 - accuracy: 0.8007
Epoch 9/10
219/219 [==============================] - 0s 1ms/step - loss: 0.4993 - accuracy: 0.8007
Epoch 10/10
219/219 [==============================] - 0s 1ms/step - loss: 0.4993 - accuracy: 0.8007